/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 27, 2023, 12:54:59 PM
    Author     : kkalds
*/
body {
    background-image: url("../images/30.webp");
    color: #ffffff;
}